.MMM-plex-recently-added .recentlyAddedList {
  width: 100%;
  height: 266px;
  overflow: hidden;
  color: #FFF;
  list-style: none;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.MMM-plex-recently-added .item {
  width: 125px;
  height: 266px;
  list-style: none;
}

.MMM-plex-recently-added .item .poster {
  height: 197px;
}

.MMM-plex-recently-added .item .metadata {
  padding-top: 5px;
  font-size: 0.5em;
  line-height: 1.2em;
  text-align: left;
}

.MMM-plex-recently-added .item .metadata div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MMM-plex-recently-added .item .movie .title,
.MMM-plex-recently-added .item .episode .grandparentTitle, .MMM-plex-recently-added .item .season .parentTitle {
  font-weight: 600;
}
